In [1]:
#import splinter , beautifulsoup and webdriver_manager
from splinter import Browser
#If you do not need to click on the website to go to the next page
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from decimal import Decimal
from collections import Counter

In [2]:
#set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser ('chrome', **executable_path, headless = False)

[WDM] - ====== WebDriver manager ======

[WDM] - Current google-chrome version is 90.0.4430
[WDM] - Get LATEST driver version for 90.0.4430
[WDM] - Driver [/Users/hector/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

In [22]:
#website
url= 'https://en.wikipedia.org/wiki/List_of_North_American_cities_by_number_of_major_sports_championships'
#visit the website
browser.visit(url)
html= browser.html

In [23]:
soup=BeautifulSoup(html,'html.parser')

In [25]:
Table= soup.find_all('table')[0]
#Table_=table.text
Table
Champions_Table_html=pd.read_html(str(Table))
Champions_Table=Champions_Table_html[0]
Champions_Table.head(20)

,Rank,City,Country,MLB[2],NBA/ABA[3],AAFC/NFL/AFL[4],NHL/WHA[5][6],MLS/NASL[7],5 Major Sports Championships
0,1,New York City,USA,35,4,9,8,5,61
1,2,Boston,USA,10,17,6,7,0,40
2,3,Chicago,USA,6,6,11,6,3,32
3,4,Los Angeles,USA,7,12,2,3,7,31
4,5,Montreal,Canada,0,-,-,26,0,26
5,6,Detroit,USA,4,3,4,11,0,22
6,6,San Francisco Bay Area,USA,7,5,7,0,3,22
7,8,Philadelphia,USA,7,4,5,2,1,19
8,9,Toronto,Canada,2,1,-,13,2,18
9,10,Pittsburgh,USA,5,1,6,5,0,17
10,11,St. Louis,USA,11,1,1,1,0,14
11,12,"Washington, D.C.",USA,2,1,5,1,4,13
12,12,Green Bay,USA,-,-,13,-,-,13
13,12,Cleveland,USA,2,1,10,0,0,13
14,15,Baltimore,USA,3,1,5,0,0,9
15,15,Dallas,USA,0,1,6,1,1,9
16,15,Houston,USA,1,2,2,2,2,9
17,18,Minneapolis,USA,2,5,0,0,0,7
18,18,Kansas City,USA,2,0,2,0,3,7
19,18,Miami,USA,2,3,2,0,0,7

In [26]:
Champions_Table.dtypes

Rank                            object
City                            object
Country                         object
MLB[2]                          object
NBA/ABA[3]                      object
AAFC/NFL/AFL[4]                 object
NHL/WHA[5][6]                   object
MLS/NASL[7]                     object
5 Major Sports Championships     int64
dtype: object

In [27]:
Champions_Table["MLB[2]"]=pd.to_numeric(Champions_Table["MLB[2]"],errors="coerce")
Champions_Table["NBA/ABA[3]"]=pd.to_numeric(Champions_Table["NBA/ABA[3]"],errors="coerce")
Champions_Table["AAFC/NFL/AFL[4]"]=pd.to_numeric(Champions_Table["AAFC/NFL/AFL[4]"],errors="coerce")
Champions_Table["NHL/WHA[5][6]"]=pd.to_numeric(Champions_Table["NHL/WHA[5][6]"],errors="coerce")
Champions_Table["MLS/NASL[7]"]=pd.to_numeric(Champions_Table["MLS/NASL[7]"],errors="coerce")

In [28]:
Champions_Table.to_csv('Championships_table.csv',index=False)

In [16]:
Champions_Table.dtypes

Rank                             object
City                             object
Country                          object
MLB[2]                          float64
NBA/ABA[3]                      float64
AAFC/NFL/AFL[4]                 float64
NHL/WHA[5][6]                   float64
MLS/NASL[7]                     float64
5 Major Sports Championships      int64
dtype: object

In [ ]:
Champions_Table.to_csv('Championships_table.csv',index=False)

In [3]:
file_to_load3 = "Championships_table_Clean.csv"

In [4]:

# Read Purchasing File and store into Pandas data frame
OK_Championships_table_Clean= pd.read_csv(file_to_load3)

In [5]:
OK_Championships_table_Clean.dtypes

Rank                             int64
City                            object
Country                         object
MLB[2]                           int64
NBA/ABA[3]                       int64
AAFC/NFL/AFL[4]                  int64
NHL/WHA[5][6]                    int64
MLS/NASL[7]                      int64
5 Major Sports Championships     int64
dtype: object

In [6]:
OK_Championships_table_Clean.drop(["Rank", "Country"],axis='columns', inplace=True)

In [8]:
OK_Championships_table_Clean.to_csv('OK_Championships_table_Clean.csv',index=False)